body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: radial-gradient(#1f94d8, #0763b9);
}

#root {
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient(#1f94d8, #0763b9);
}

#waitingScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    background-image: radial-gradient(#1f94d8, #0763b9);
    transition: opacity 1s;
}

#waitingMessage {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#solution {
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 5%;
    bottom: 20px;
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.7);
    overflow: hidden;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: opacity 1s;
}

#solutionMessage {
    color: white;
    float: left;
    width: 90%;
    height: 100%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solutionImage {
    float: left;
    width:60px;
    margin-left: 10px;
    animation: rotateObject 2s infinite;
}

@keyframes rotateObject {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

#selectLevel {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba(31, 148, 216, 0.8), rgba(7, 99, 185, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2;
}

#selectLevel p {
    text-align: center;
}

#levelsList {
    width: 50%;
    height: 400px;
    overflow: auto;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.levelsRow {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 0.3s;
}

.levelsRow:nth-child(odd) {
    background-color: rgba(66, 66, 66, 0.8);
}

.levelsRow:nth-child(even) {
    background-color: rgba(75, 75, 75, 0.8);
}

.levelsRow:hover {
    background-color: rgba(83, 83, 83, 0.8);
}

/* #selectLevel input {
    border: none;
    border-radius: 10px;
    min-width: 500px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    text-align: center;
} */

#end {
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient(#1f94d8, #0763b9);
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: opacity 1s;
}